div(class="nav")
    div(class="ui grid")
        div(class="four wide column")
        div(class="eight wide column")
            a(href="/posts")
                h1= blog.title
            p= blog.description