div(class="ui-grid")
    div(class="four wide column")
    div(class="eight wide column")

    if success
        div(class="ui success message")
            p= success
    else if error
        div(class="ui error message")
            p= error
