doctype html
html(lang="zh-CN")
    head
        title= blog.title
        link(href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
        script(src="//cdn.bootcss.com/sematic-ui/2.1.8/sematic.min.js")
    body
        include components/nav.pug
        include components/nav-setting.pug
        include components/notification.pug